<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
</head>
<body>
  <h1>Password Reset</h1>

  <form action="/reset-password" method="post">
    <input type="hidden" name="username" value="<%= username %>">
    
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="password" required>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="password" required>

    <button type="submit">Reset Password</button>
  </form>
</body>
</html>
